doctype 
html(lang="en")
head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block titleconfig
        title Shellify
    block stylesheets
        link(rel="stylesheet" href="/css/bulma.css")
body
    block content
    script(src="/js/jquery.js")
    script(src="/js/index.js")
    script(src='/js/bulma.js')
    block scripts