extend boilerplate.pug

block titleconfig
    title Login
block append stylesheets
    link(rel="stylesheet" href="/css/login.css")
    
block content
    .container
        #login
            h1 Testing spotify stuff...
            a.btn.btn-primary(href='/logingin') Log in with Spotify