extend boilerplate.pug

block titleconfig
    title Login
block append stylesheets
    link(rel="stylesheet" href="/css/login.css")
    
block content
    section.section
        .container
            .columns
                .column.is-half
                    center
                        img(src="images/loginLeft.png")
                .column.is-half
                    #login
                        h3.title.is-3 Sign into your Social Connect account
                        center
                            a(href='/logingin').button.is-success.is-outlined Log in with Spotify
            